

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix Bootstrap/Tailwind Collapse Collision */
.accordion-collapse.collapse:not(.show) {
    display: none !important;
}
.accordion-collapse.collapse.show {
    display: block !important;
}
.collapse:not(.show):not(.navbar-collapse) {
    display: none;
}
.navbar-collapse.collapse {
    visibility: visible !important;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse.collapse {
        display: flex !important;
    }
}
